body {
    background-color: #7A6C9E;
}
h1 {
    font-family: "Amatic SC";
    text-align: center;
}

canvas {
    border: 1px solid;
    margin: auto;
    display: flex;
    background-color: #9B89B0;
}